header {
    width: 100%;
    background: black url('../assets/back.svg') center no-repeat;
    color: white;
    padding: 5rem 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.c-head {
    text-align: center;
    min-width: 28rem;
}
.c-head > img {
    width: 16rem;
    height: 16rem;
    border: 2px solid #999;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.c-header__info {
    display: grid;
    row-gap: .5rem;
}
.c-header__info h1 {
    font-size: 3rem;
    line-height: 3.1rem;
}
.c-header__info span {
    font-size: 1.7rem;
    font-weight: 500;
    font-family: var(--title-font);
    margin-bottom: 3rem;
}
#open {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
#open div {
    width: 28rem;
}
#open div > p {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.7rem;
}
.c-status {
    display: block;
    width: 100%;
    border-radius: 1rem;
    border: 0;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem 0;
    text-transform: uppercase;
}
a.c-status {
    text-decoration: none;
    background-color: var(--light-green);
}
.u-color__entrega {
    background-color: #F15A24;
}
