@import "header.css";
@import "main.css";
@import "modal.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: 'Inter', arial, helvetica, sans-serif;
}
:root {
    font-size: 62.5%;
    --title-font: "Space Grotesk", arial, helvetica, sans-serif;
    --ligth-green: #41ec63;
    --green: #20ce20;
    --red: #f14848;
}
button:hover {
    cursor: pointer;
}
html, body {
    width: 100%;
}
body {
    min-height: 100vh;
    font-size: 1.6rem;
    position: relative;
    padding-bottom: 4rem;
}
h1,h2,h3 {
    font-family: var(--title-font);
}
/* footer */
footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
.c-btn__footer {
    color: white;
    width: 100%;
    padding: 1rem 0;
    border: 0;
    background-color: var(--red);
    box-shadow: 0px 1px 8px 0px #000000b0;
    font-size: 1.7rem;
}
.c-btn__footer i {
    font-size: 2rem;
}

/* media queries */
@media screen and (min-width: 600px) and (max-width: 780px) {
    .s-menu {
        row-gap: 3.5rem;
    }
    .c-item {
        width: 40rem;
        flex-direction: row;
    }
}
@media screen and (min-width: 781px) and (max-width: 992px) {
    .s-menu {
        grid-template-columns: 1fr 1fr;
        column-gap: 3.5rem;
    }
    .c-item {
        width: auto;
        flex-direction: row;
    }
    #c-cart {
        width: max-content;
        padding: .5rem 2rem;
    }
}
@media screen and (min-width: 993px) {
    .s-menu {
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        width: 96rem;
    }
    .c-item {
        width: auto;
        flex-direction: row;
    }
    .c-top__menu h3 {
        width: 12.9rem;
    }
    #c-cart {
        width: 100%;
        padding: .5rem 2rem;
    }
}